body {
    background: #000;
}

.red {
    background: #D03F3E;
}

.blue {
    background: #70C9EF;
}

.green {
    background: #72F499;
}

.yellow {
    background: #F8C900;
}

.container {
    max-width: 960px;
}