.container.bottom
    .gray-line
    .bottom-block!= "&copy; "+locals.human.name+", 2014"
    .bottom-block: a(href='mailto:shepardiwe@gmail.com') shepardiwe@gmail.com
    .bottom-block: a(href='https://vk.com/notintmaniwe') vk.com/notintmaniwe