doctype html
html(lang='ru')
    head
        include head
    body
        include top
        .present
            img(src='/images/yards.jpg')
        .container
            .inline-block: .inside-block!= page.html
            .inline-block: .inside-block
                :markdown
                    # Who am I?

                    I am a free developer who just wants to show themselves and to find their place in this life.

                    That's all.
        include bottom